﻿@model ProductSummaryModel

@{
    Layout = "_Layout";

    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}

@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Framework.UI;

<div class="page recently-added-products-page">
    <div class="row align-items-center">
        <div class="col">
            <div class="heading">
                <h1 class="heading-title">@T("Products.NewProducts")</h1>
            </div>
        </div>

        @{ Html.RenderWidget("recently_added_products_top"); }

        <!--
    <div class="col col-auto">
        <a href="@Url.RouteUrl("RecentlyAddedProductsRSS")" class="btn btn-warning" title="@T("Products.NewProducts.RSS.Hint")">
            <i class="fa fa-rss"></i>
            <span>@T("Products.NewProducts.RSS")</span>
        </a>
    </div>
        -->
    </div>

    <div class="page-body">
		@if (Model.Items.Count > 0)
		{
			Html.RenderPartial("Product.List", Model);
		}
		else
		{
			<div class="alert alert-warning">
				@T("Common.ListIsEmpty")
			</div>
		}
    </div>
</div>
