﻿/// <reference path="../../../Content/shared/_variables-shared.scss" />
/// <reference path="../../../Content/shared/_mixins.scss" />
/// <reference path="_variables.scss" />
/// <reference path="../../../Content/bs4/scss/bootstrap.scss" />

.costeps {
    position: relative;
	margin-top: 2rem;  
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.costep,
.costep-link,
.costep-icon {
    display: block;
    position: relative;
    z-index: 1;
}

.costep {
    text-align: center;
    z-index: 1;

    &:before,
    &:after {
        display: block;
        content: ' ';
        position: absolute;
        height: 2px;
        background-color: $costep-border;
        z-index: 0;
        top: 5px;
    }

    &:before {
        left: 0;
        right: 50%;
    }

    &:after {
        left: 50%;
        right: 0;
    }

    &:first-child:before,
    &:last-child:after {
        display: none;
    }
}

.costep-link {
    color: inherit;
    text-decoration: none !important;
}

.costep-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid $costep-border;
    background-color: $costep-bg;
    color: $costep-color;
    margin: 0 auto;
}

.costep-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 85%;
    display: block;
    padding: 0.5rem 3px 0 3px;
    color: $costep-label-color;
}

.costep.visited {
    &:before, &:after {
        background-color: $costep-visited-border;
    }
    .costep-icon {
        border-color: $costep-visited-border;
        background-color: $costep-visited-bg;
        color: $costep-visited-color;
    }
    .costep-label {
        color: $costep-visited-label-color;
    }
}

.costep.active {
    &:before {
        background-color: $costep-active-border;
    }
    .costep-icon {
        border-color: $costep-active-border;
        background-color: $costep-active-bg;
        color: $costep-active-color;
    }
    .costep-label {
        font-weight: $font-weight-bold;
        color: $costep-active-label-color;
    }
}

@include media-breakpoint-up(sm) {
    .costep:before,
    .costep:after {
        top: 24px;
    }

    .costep-icon {
        width: 50px;
        height: 50px;
        line-height: 54px;
        text-align: center;
        vertical-align: middle;

        &:before {
            @include fontastic("\e74b", 20px);
        
            [data-step=cart] &	    { content: '\e74b' /* icm-bag */; }
            [data-step=address] &	{ content: '\e600' /* icm-home */; }
            [data-step=shipping] & 	{ content: '\e857' /* icm-truck */; transform: translateY(-3px); }
            [data-step=payment] & 	{ content: '\e759' /* icm-credit-card */ }
            [data-step=confirm] & 	{ content: '\e919' /* icm-thumbs-up */; }
            [data-step=complete] & 	{ content: '\e934' /* icm-check */ }
        }
    }

    .costep-label {
        font-size: 90%;
    }
}



//
// Checkout options (payment & shipping)
// --------------------------------------------------

.checkout-data {
	.opt-list { 
		margin-bottom: 1.5rem;
	}

    .opt-list-item {
        padding: 1.25rem;
    }

    .opt-data {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .opt-control {
        margin-bottom: 0;

	    .form-check-label {
		    cursor: pointer;
		    margin-bottom: 0;
	    }

        .form-check-input {
            margin-top: 0.2rem;
        }
    }

	.opt-name { 
        display: block;
        font-size: $h5-font-size;
		font-weight: $font-weight-medium;
		margin-left: 4px;
        line-height: 1.3;
	}

    .opt-fee {
        white-space: nowrap;
    }

	.opt-info,
	.opt-info-item { 
		margin-top: 0.75rem;
	}

    .opt-info {
	    .opt-form { 
		    margin-top: 1.5rem;

            .col-form-label {
                font-weight: normal;
            }
	    }

	    .media-object { 
		    max-width: 25%;
            margin-top: 0.25rem;
	    }

	    .media-body { 
		    color: $text-muted;
	    }

        p:empty {
            display: none;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        .opt-info .media-object {
            max-width: 120px;
        }
    }

    @include media-breakpoint-up(md) {
	    .opt-name { 
		    margin-left: 12px;
	    }

	    .opt-info,
	    .opt-info-item { 
		    margin-left: 32px;
	    }
    }
}


.order-summary-page #content-body {
	margin-top: 0;
}


/* Order Summary
================================================ */
.order-summary-content {
    .productpicture {
        width: 100px;
        img {
            max-width: 100%;
        }
    }
}


/* Checkout Data
================================================ */

.checkout-data .buttons {
    display: flex;
    justify-content: space-between;
}


/* Checkout Confirm
================================================ */

#terms-of-service-consent-box {
	background: lighten($gray-100, 1.5%);
}
.reward-points.alert,
#terms-of-service-consent-box {
    a.read {
        font-weight: $font-weight-medium;
        &:hover { cursor: pointer; }
    }
}
#iframe-terms-of-service { 
    width: 100%;
}
.checkout-data .change-checkout-data {
    padding: 0.25rem 0.5rem;
}

.col-2 {
    flex: 0 0 33% !important;
    max-width: 33% !important;
}