//
// Customize the (child) theme here with css overrides
// or new selectors (for users)
// --------------------------------------------------
// SP: Not being picked up in production. Have moved to MEGAMENU
//
/*
#intro-banner {
    margin-top:1px;
    min-height: 200px;
    background-image: url(/Themes/Flex/Content/images/introbanner.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding:2rem;
}

#intro-banner h1
{
    font-size:1.5rem;
}

#intro-banner h2 {
    margin-top:3rem;
    font-size: 1.25rem;
    font-weight:800;
}
*/