<p class="text-center">Copyright © 2019 UBM. All rights reserved.</p>
<p class="text-center">You have received this Email from <a style="color:#fff" href="{{ Store.Url }}">{{ Store.Url }}</a></p>
<p class="text-center">
  <a href="http://privacypolicy.ubm.com/" style="color:#fff">Privacy Policy</a>
</p>

