﻿@model SmartStore.Web.Models.Common.CookieConsentModel
@{
	Layout = "";
}

@using (Ajax.BeginForm("SetCookieConsentBadge", "Common", null, new AjaxOptions()
{
	HttpMethod = "POST",
	OnComplete = "OnConsented"
}))
{

	<div class="cookie-consent-panel-message fade show">
		<div class="d-flex">
            <div class="align-self-center pr-3">
                We use cookies on this site to enhance your user experience. By clicking any link on this page you are giving your consent for us to set cookies. <a href="http://privacypolicy.ubm.com/">Privacy Policy</a>
            </div>
			<div class="align-self-center ml-auto">
				<button type="submit" class="btn btn-warning">I agree</button>
			</div>
		</div>
	</div>
}

<script>
    function OnConsented(context) {
		$('.cookie-consent-panel-message').hide();
    };
</script>