﻿@model ServiceMenuModel
@using SmartStore.Web.Models.Common;

@{
    Html.RenderWidget("servicemenu_before");

    var links = new List<Tuple<string, string>>
    {
        // Item1 = TopicUrl, Item2 = LinkText
        //new Tuple<string, string>(Url.TopicUrl("aboutus"), Url.TopicLinkText("aboutus")),
        //new Tuple<string, string>(Url.TopicUrl("disclaimer"), Url.TopicLinkText("disclaimer")),
        //new Tuple<string, string>(Url.TopicUrl("shippinginfo"), Url.TopicLinkText("shippinginfo")),
        //new Tuple<string, string>(Url.TopicUrl("conditionsofuse"), Url.TopicLinkText("conditionsofuse"))
    };
}

@if (Model.RecentlyAddedProductsEnabled)
{
    <a href="@Url.RouteUrl("RecentlyAddedProducts")" class="dropdown-item">@T("Products.NewProducts")</a>
}
@if (Model.ManufacturerEnabled)
{
    <a href="@Url.RouteUrl("ManufacturerList")" class="dropdown-item">@T("Manufacturers.List")</a>
}
@if (Model.RecentlyViewedProductsEnabled)
{
    <a href="@Url.RouteUrl("RecentlyViewedProducts")" class="dropdown-item">@T("Products.RecentlyViewedProducts")</a>
}
@if (Model.CompareProductsEnabled)
{
    <a href="@Url.RouteUrl("CompareProducts")" class="dropdown-item">@T("Products.Compare.List")</a>
}

<!---<div class="dropdown-divider"></div>-->

@foreach (var link in links)
{
    if (link.Item1.HasValue())
    {
        <a href="@link.Item1" class="dropdown-item">@link.Item2</a>
    }
}
<a href="https://fie2019.showpromotioncenter.com/how-does-it-work" class="dropdown-item">How Does It Work?</a>


@{ Html.RenderWidget("servicemenu_after"); }
