﻿@model CheckoutCompletedModel
@using SmartStore.Web.Models.Checkout;
@{
    Layout = "_Checkout";
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    Html.AddBodyCssClass("no-offcanvas-cart");
}

@section orderProgress{
    @{ Html.RenderAction("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete }); }
}

<div class="page checkout-completed-page">
	<div class="heading mt-3">
		<h2 class="heading-title font-weight-light">@T("Checkout.OrderHasBeenReceived")</h2>
	</div>

    <p>
        @T("Checkout.ThankYou")
        <br />
        <hr />
        <a href="/Content/files/OnlineTermsandConditions.pdf">Click here to view Terms and Conditions</a>
        <hr />
    </p>
   
    
    <div class="page-body checkout-data pt-4">
        <div class="order-completed">
            @{ Html.RenderWidget("checkout_completed_top"); }
            <div class="body fs-h5">
                <p>
					<span>@T("Checkout.OrderNumber"):</span>
					<a href="@Url.Action("Details", "Order", new { id = Model.OrderId })" rel="nofollow"><strong>@Model.OrderNumber</strong></a>
                </p>
            </div>
            <p class="pt-3 mb-5">
				<a href="@Url.Action("Details", "Order", new { id = Model.OrderId })" class="btn btn-warning" rel="nofollow">
					@*<i class="far fa-list-alt"></i>*@
					<span>@T("Checkout.PlacedOrderDetails")</span>
				</a>
                <a href="@Url.RouteUrl("HomePage")" class="btn btn-secondary order-completed-continue-button">
                    @*<i class="fa fa-home"></i>*@
                    <span>@T("Checkout.Continue")</span>
                </a>
            </p>
            @{ Html.RenderWidget("checkout_completed_bottom"); }
        </div>
    </div>
</div>
