﻿@using SmartStore.Core;

<!DOCTYPE html>
<html @Html.LanguageAttributes() data-pnotify-firstpos1="140">
<head>
    <meta charset="utf-8">
    <title itemprop="name">@Html.SmartTitle(true)</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="@(Html.SmartMetaDescription())" />
    <meta name="keywords" content="@(Html.SmartMetaKeywords())" />
    <meta name="generator" content="SmartStore.NET @SmartStoreVersion.CurrentFullVersion" />


    @{ Html.RenderPartial("_Assets"); }
    @*This is used so that themes can inject content into the header*@
    @{ Html.RenderPartial("Head"); }
    @Html.SmartMetaRobots()
    @Html.MetaAcceptLanguage()
    @{ Html.RenderPartial("_ClientRes"); }
    @{ Html.RenderPartial("_GoogleFonts"); }
    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)
    @{ Html.RenderWidget("head_html_tag"); }
    @Html.CanonicalUrls()
    @Html.LinkRels()
    @{
        Html.RenderAction("RssHeaderLink", "News", new { area = "" });
        Html.RenderAction("RssHeaderLink", "Blog", new { area = "" });
    }
    @*Favicon - upload favicon.ico or favicon-[StoreId].ico file either to the root web or your theme directory*@
    @{ Html.RenderAction("Favicon", "Common", new { area = "" }); }
    @Html.CustomHead()
    <script src="~/Scripts/smartstore.globalization.adapter.js"></script>
    @{ Html.RenderZone("head"); }

    <script src="https://sec.ubm.com/VisitorAPI-showpromotioncenter.js"></script>
    <script src="https://sec.ubm.com/AppMeasurement-showpromotioncenter.js"></script>

</head>
<body class="@Html.BodyCssClass()" @(Html.BodyId())>
    @{ Html.RenderZone("start"); }
    @RenderBody()
    @{ Html.RenderZone("aftercontent"); }

    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)
    @Html.LocalizationScript(WorkContext.WorkingLanguage.UniqueSeoCode, "~/Content/vendors/select2/js/i18n", "*.js", null)
    @Html.LocalizationScript(WorkContext.WorkingLanguage.UniqueSeoCode, "~/Content/vendors/moment/locale", "*.js", null)

    @{ Html.RenderZone("end"); }

    @{ Html.RenderPartial("_AdobeAnalytics"); }

</body>
</html>
